/* fix header */

body{
  overflow-y: hidden ;
}

.content{
  padding:0px;
}

.ribbon {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100000;
  margin-right: 0cm;
  margin-top: 0.1cm;
  display: block;
  height: 65px;
  text-decoration: none;
  overflow-x: hidden;
}

.logo:hover{
  background-color: #420d09 !important;
  color: #fff;
}

.logo {
  background-color: #420d09 !important;
  color: #fff;
}

.main-sidebar {
  background-color: #420d09 !important;
  color: #fff;
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a {
  border-left-color: #fff;
  color: #fff;
  background: #420d09;
  font-size: 11pt;
  font-weight: bold;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
  background: #420d09 !important;
  border-right: 2px solid !important;
}

.skin-blue .main-header .navbar .nav > li > a {
  color: #420d09;
  border-bottom: 4px solid #FFF;
  font-size: 17pt;
  animation: text-shadow 1.5s ease-in-out infinite;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb203b,
            0 -0.25em 0 #fefc4b;
    }
    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #0c2ffb,
            0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb203b,
            0 0.125em 0 #fefc4b;
    }
    60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #0c2ffb,
            0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb203b,
            0 -0.0625em 0 #fefc4b;
    }
    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}

.skin-blue .main-header .navbar .nav > li > a:hover{
  background: #FFF;
  color: #420d09;
  animation-play-state: paused;
  font-size: 17pt;
  border-bottom: 4px solid #420d09;
}

.irs-from, .irs-to, .irs-single {
  background-color: #420d09;
  font-size: 15px;
}

.skin-blue .main-header .navbar .nav > li > a:focus{
  background: #FFF !important;
  color: #420d09 !important;
  font-size: 17pt;
  animation-play-state: paused;
  border-bottom: 4px solid #420d09;
}

.navbar-custom-menu{
  height: 50px;
  margin-right:150px;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #FFF;
  color: #404040;
}

.sidebar-toggle {
  display:none !important;
  background-color: #FFF !important;
  color: #404040 !important;
}

.sidebar-toggle:hover {
  display:none !important;
  background-color: #FFF !important;
  color: #404040 !important;
}

.sidebar-toggle:click {
  display:none !important;
  background-color: #FFF !important;
  color: #404040 !important;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  white-space: normal;
  word-wrap: break-word;
}

.skin-blue .main-header .navbar:hover{
  background-color: #FFF;
  color: #404040;
}

.skin-blue .main-header .navbar {
  background-color: #FFF;
  /*border-bottom: 3px solid #e0e0e0;*/
}

.irs-bar {
border-top: 1px solid #420d09;
border-bottom: 1px solid #420d09;
background: #AAAAAA;
}

.irs-bar-edge{
  border:1px solid #420d09;
  border-right: 0px solid #420d09;
  background: #AAAAAA;
}

.info-box-text{
  white-space: normal;
  word-wrap: break-word;
}